<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" style="gap: 38%; " >
      <div class="insideContainer">
          <a style="color: white;" class="navbar-brand" href="#">Welcome</a>
          <button class="buttonShow"(click)="showNav()"type="button" >
              <!-- <span class="navbar-toggler-icon"></span> -->
              <mat-icon style="color: white;">view_headline</mat-icon>
          </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-size: 16px; font-weight: 500;" >
        <ng-container *ngFor="let data of navData">
          <!-- <div class="navbar-nav"  (click)="navigateToCart(data.link)" >
            <a style="color: white;" class="nav-link active"  aria-current="page">{{data.data}}</a>
          </div> -->
          <div class="navbar-nav"  (click)="data.data == 'Log Out' ? logout() : navigateToCart(data.link)" *ngIf="data.isLoggedIn">
            <a style="color: white;" class="nav-link active"  aria-current="page">{{data.data}}</a>
          </div>

        </ng-container>
        <!-- <div (click)="logout()">
          <button  style="border-radius: 50%; border: none;padding: 1%;">Log Out</button>
        </div> -->
      </div>
    </div>
</nav>
<!-- <div style="display: flex; width: 100%; justify-content: space-between;">
  <a style="color: white;" class="navbar-brand" href="#">Welcome</a>
    <mat-icon style="color: white;">view_headline</mat-icon>
  
</div> -->

<div class="  sideDiv" id="navbarNavAltMarkup" *ngIf="show">
  <mat-icon (click)="hideNav()" style="color: white; cursor: pointer; display: flex; flex-direction: row-reverse; width: 100%;">clear</mat-icon>
  <div class="navbar-nav" *ngFor="let data of navData" (click)="navigateToCart(data.link)" style="font-size: 19px; font-weight: 500;">
    <a style="color: white;" class="nav-link active"  aria-current="page">{{data.data}}</a>
  </div>
  <div (click)="logout()" style="position: relative; top: 30%;">
    <button  style=" background-color: none; border: none;padding: 1%;">Log Out</button>
  </div>
</div>
