
<div class="Container">
    <div class="leftSide">
        <div class="mainVideo">
            <video style="height: 100%; width: 100%;;" src="../../assets/y2mate.com - Shadow  Singga  Official Video   Sukh Sanghera  MixSingh  Latest Punjabi Songs_v720P.mp4"></video>
            <div class="videoSection">
                    <div class="like" *ngFor="let data of likeData">
                        <div class="viewCount" >
                            {{data.like}}
                        </div>
                    </div>
            </div>
        </div>
        <div class="commentSection">
            <app-comment></app-comment>
        </div>
    </div>
    <div class="rightSide">
        <app-related></app-related>
    </div>

</div>