.commentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    .userComment {
        padding-bottom: 0;
        padding-top: 10px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0 7px 12px;
        column-gap: 10px;
       
        .commentDetails{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            .upper{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 10px;
                width: 100%;
            }
            .bottom{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .buttons{
                    max-width: 250px;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }

        }
    }
    
}
.singleComment{
    display: flex ;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 7px 12px;
    column-gap: 10px;
    .userImage {
        max-width: 40px;
        max-height: 40px;
        height: 100%;
        width: 100%;
    }
    .commentDetails{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        .upper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 10px;
            width: 100%;
        }
    }
}
// .bottom{
//     visibility: hidden;
// }

.userImage{
    max-width: 40px;
    max-height: 40px;
    height: 100%;
    width: 100%;
    .circle{
        min-width: 40px;
        min-height: 40px;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
        font-family: Roboto;
        font-weight: 500;
        background-color: brown;
    }
}
.userComment{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 7px 12px;
    column-gap: 10px
}
.commentDetails{
    width: 100%;
}
.buttons {
    display: flex;
    gap: 50px;
    margin-left: 18rem;
}